    <!-- Local Script Link -->
    <script src="/JS/main.js"></script>

    <!-- froala-editor script -->
    <script type="text/javascript" src="../../node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
    <script>
        var editor = new FroalaEditor('#example');
    </script>
    
    
</body>

</html>